@import "./common.css";
@import "./navbar.css";
@import "./footer.css";

.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1000px 30px;
    grid-template-areas:
    "hd"
    "ft";
}
.header{
    grid-area:hd;
    background-image:url('../assets/mountain.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.subscribe{
    color: white;
    margin: 10%;
    width: 40%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
}
.ibox{
    border-radius:6px;
}
.subButton{
    width: 30%;
    border-radius: 6px;
    font-size: 0.8em;
    margin-left: 35%;
}
@media(min-width:1000px){
    .container{
        grid-template-rows: 800px 30px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "ft ft ft ft ft ft ft ft";
        
    }  
}
