@import "./common.css";
@import "./navbar.css";
@import "./footer.css";

.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 16% 82% 2%;
    grid-template-areas:
    "hd"
    "cd"
    "ft";
}
.header{
    grid-area:hd;
    background-image:url('../assets/mountain.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.blogTitile{
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    margin-top: 5%;
}
.content{
    grid-area:cd;
    padding: 2%;
    display: grid;
    grid-template-rows: 23% 23% 23% 23%;
    grid-template-areas:
    "cd1"
    "cd2"
    "cd3"
    "cd4";
    grid-gap: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
    
}
#card1{
    grid-area:cd1;
}
#card2{
    grid-area:cd2;
}
#card3{
    grid-area:cd3;
}
#card4{
    grid-area:cd4;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

img{
    width:100%;
    height:82%;
}
.desc{
    margin: 1.5%;
    font-size:0.8em;
}
.fig{
    width: 100%;
    height: 100%;
    margin: 0%;
}
.caption{
    font-weight:bolder;
}
@media(min-width:1000px){
    .container{
        grid-template-rows: 35% 62% 3%;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "cd cd cd cd cd cd cd cd"
        "ft ft ft ft ft ft ft ft";    
    }  
    .content{
        grid-template-rows: 50% 50%;
        grid-template-areas:
        "cd1 cd1 cd1 cd1 cd2 cd2 cd2 cd2"
        "cd3 cd3 cd3 cd3 cd4 cd4 cd4 cd4";
    }
}
